# Files exceeding GitHub's normal Git object size limit are stored through Git LFS.
rv1126/ipc_platform/environment/model/internvl3-1b-instruct_w8a8_rv1126b.rkllm filter=lfs diff=lfs merge=lfs -text
rv1126/ipc_platform/environment/model/internvl3-2b_vision_rv1126b_v122.rknn filter=lfs diff=lfs merge=lfs -text
rv1126/ipc_platform/lib/ZLMediaKit/lib/libmk_api.so filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/client/lib64/libNetTVSDK.a filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/client/**/*.a filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/client/**/*.so* filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/client/**/*.dll filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/client/**/*.lib filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/client/**/*.pdb filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/server/**/*.a filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/server/**/*.so* filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/server/**/*.dll filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/server/**/*.lib filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/third-party/**/*.a filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/third-party/**/*.so* filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/third-party/**/*.dll filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.a filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.so* filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.dll filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.mo filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.0 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.1 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.2 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.3 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.4 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.5 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.6 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.7 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.8 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.9 filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.lib filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/*.exe filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/bin/* filter=lfs diff=lfs merge=lfs -text
SDK/af_sdk/af_sdk/build/environment/**/libexec/* filter=lfs diff=lfs merge=lfs -text
