# Files exceeding GitHub's normal Git object size limit are stored through Git LFS.
rv1126/ipc_platform/environment/model/internvl3-1b-instruct_w8a8_rv1126b.rkllm filter=lfs diff=lfs merge=lfs -text
rv1126/ipc_platform/environment/model/internvl3-2b_vision_rv1126b_v122.rknn filter=lfs diff=lfs merge=lfs -text
rv1126/ipc_platform/lib/ZLMediaKit/lib/libmk_api.so filter=lfs diff=lfs merge=lfs -text
